@import "vars";

body {
  color: $textColor;
  background-color: $bodyColor;
  font-family: sans-serif;
}

.header {
  background-color: #000;

  &-logo {
    background-color: red;
  }

  &-logo {
    background-color: blue;

    img {
      background: green;
      width: 10px;
      height: 10px;
      display: block;
    }
  }
}
